body, html {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  /* background-image: -webkit-gradient(linear, left top, left bottom, color-stop(5%, #2f6ed3), color-stop(20%, #5095e4), color-stop(60%, #5095e4), color-stop(95%, #2f6ed3));
  background-image: -moz-linear-gradient(top, #2f6ed3 5%, #5095e4 20%, #5095e4 60%, #2f6ed3 95%);
  background-image: linear-gradient(180deg, #2f6ed3 5%, #5095e4 20%, #5095e4 60%, #2f6ed3 95%); */
  color: #fff;
  background: #333;
  background-image: linear-gradient(rgba(0, 255, 0, 0.212) .1em, transparent .1em), linear-gradient(90deg, rgba(0, 255, 0, 0.267) .1em, transparent .1em);
  background-size: 3em 3em;

}

.container {
  margin: 25px 75px;
}

h1 {
  color: #fff;
}

span.warning {
  color: #fff;
  background-color: #ff000063;
  border: 1px solid red;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0 8px 32px 0 rgba(31, 135, 62, 0.37);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  font-style: italic;
}